.homepage{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.post-container{
    display:grid;
    grid-template-columns: 1fr;
    width:400px;
    margin:auto;
    row-gap: 5px;
}
.create-post{
    align-self: start;
}